<div class="flex flex-row w-full align-content-center justify-content-between mb-3 gap-3">
    <div class="w-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Pacienți activi</span>
                    <div class="text-900 font-medium text-xl">100</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" [ngStyle]="{width: '2.5rem', height: '3rem'}">
                    <i class="pi pi-user text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">+24 </span>
            <span class="text-500">comparativ cu anul trecut</span>
        </div>
    </div>
    <div class="w-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Pacienți în vârstă</span>
                    <div class="text-900 font-medium text-xl">{{oldPatients}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" [ngStyle]="{width: '2.5rem', height: '3rem'}">
                    <i class="pi pi-clock text-orange-500 text-xl"></i>
                </div>
            </div>
            <span class="text-500">varsta > 65</span>
        </div>
    </div>
    <div class="w-4">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Pacienți nesănătoși</span>
                    <div class="text-900 font-medium text-xl">{{unhealthyPatients}}</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" [ngStyle]="{width: '2.5rem', height: '3rem'}">
                    <i class="pi pi-times-circle text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-500">cu riscuri sporite</span>
        </div>
    </div>
</div>
    <div class="grid">
        <div class="col-12 xl:col-6">
            <div class="card">
                <h5>Pacienți</h5>
                <p-table [value]="patients" [paginator]="true" [rows]="9" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="person_details.name">Nume <p-sortIcon field="person_details.name"></p-sortIcon></th>
                            <th pSortableColumn="person_details.age">Varsta <p-sortIcon field="person_details.age"></p-sortIcon></th>
                            <th>Date personale</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-patient>
                        <tr>
                            <td style="width: 35%; min-width: 7rem;">{{patient.name}}</td>
                            <td style="width: 35%; min-width: 8rem;">{{patient.age}}</td>
                            <td style="width: 15%;">
                                <button pButton (click)="goToPersonal(patient)" pRipple type="button" icon="pi pi-search" class="p-button p-component p-button-text p-button-icon-only"></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <div class="col-12 xl:col-6">
            <div class="card">
                <div class="flex align-items-center justify-content-between mb-4">
                    <h5>Notificații</h5>
                </div>

                <span class="block text-600 font-medium mb-3">AZI</span>
                <ul class="p-0 mx-0 mt-0 mb-4 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-exclamation-triangle text-xl text-orange-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Gabi Aanei
                    <span class="text-700"> are o presiune sistolică a sângelui de <span class="text-orange-500">136</span></span>
                </span>
                    </li>
                    <li class="flex align-items-center py-2">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-info-circle text-xl text-blue-500"></i>
                        </div>
                        <span class="text-700 line-height-3">Iurie Stoica a dormit <span class="text-blue-500 font-medium">5</span> ore.</span>
                    </li>
                </ul>

                <span class="block text-600 font-medium mb-3">IERI</span>
                <ul class="p-0 m-0 list-none">
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-info-circle text-xl text-blue-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Anatolie Ardelean<span class="text-blue-500"> nu a consumat destule proteine.</span></span>
                    </li>
                    <li class="flex align-items-center py-2 border-bottom-1 surface-border">
                        <div class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0">
                            <i class="pi pi-exclamation-triangle text-xl text-orange-500"></i>
                        </div>
                        <span class="text-900 line-height-3">Ionelia Eftimie
                    <span class="text-700"> are aprox <span class="text-orange-500">61</span> bătăi de inimă pe minut</span></span>
                    </li>
                </ul>
            </div>
            <div class="card">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5>Tipuri de diete</h5>
                </div>
                <ul class="list-none p-0 m-0">
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Vegetarian</span>
                            <div class="mt-1 text-600">(fără produse animale)</div>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-orange-500 h-full" [ngStyle]="{width: '50%'}"></div>
                            </div>
                            <span class="text-orange-500 ml-3 font-medium">17%</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">High Carb</span>
                            <div class="mt-1 text-600">(dietă bogată în carbohidrați)</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-cyan-500 h-full" [ngStyle]="{width: '16%'}"></div>
                            </div>
                            <span class="text-cyan-500 ml-3 font-medium">15%</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Low Fat</span>
                            <div class="mt-1 text-600">(dietă slabă în grăsimi)</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-pink-500 h-full" [ngStyle]="{width: '67%'}"></div>
                            </div>
                            <span class="text-pink-500 ml-3 font-medium">28%</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">Balanced</span>
                            <div class="mt-1 text-600">(dietă balansată)</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-green-500 h-full" [ngStyle]="{width: '35%'}"></div>
                            </div>
                            <span class="text-green-500 ml-3 font-medium">21%</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">High Protein</span>
                            <div class="mt-1 text-600">(bogată în proteine)</div>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-purple-500 h-full" [ngStyle]="{width: '75%'}"></div>
                            </div>
                            <span class="text-purple-500 ml-3 font-medium">19%</span>
                        </div>
                    </li>
                </ul>
            </div>
    </div>
</div>

